@tailwind base;
@tailwind components;
@tailwind utilities;

.navlist>li>a {
    @apply transition 
            duration-300 
            hover:shadow-md     
            hover:shadow-secondary 
            hover:text-gray-900
            block 
            p-2 
            rounded-lg 
            hover:bg-secondary
}

.project-card{
    @apply bg-gray-200
             border-4 border-primary  
             flex flex-col gap-y-3 
             p-5 
             rounded-xl 
             shadow-lg shadow-gray-400 transition duration-300 
             cursor-pointer
             tablet:hover:scale-[1.03]; 
}